@import "tailwindcss/base";

@import "tailwindcss/components";


@tailwind utilities;

@layer utilities {
    .grid-lines-green-gradient{
        background: url("/public/axiom-pattern-thick.png"), linear-gradient(to bottom, #76B900, #2C2A34);
    }
    .grid-lines-dark-gradient{
        background: url("/public/axiom-pattern.png"), linear-gradient(to right, #2C2A34, #43414a);
    }
    .grid-blocks-dark-gradient{
        background: url("/public/grid-me.png"), linear-gradient(to right, #2C2A34, #43414a);
    }
    .black-linen-gradient{
        background: url("/public/black-linen.png"), linear-gradient(to right, #2C2A34, #43414a);
    }
    .black-diamond-gradient{
        background: url("/public/diagmonds.png"), linear-gradient(to right, #2C2A34, #43414a);
    }
    .mask{
        -webkit-mask-repeat: no-repeat, no-repeat, no-repeat;
        mask-repeat: no-repeat, no-repeat, no-repeat;
        -webkit-mask-composite: exclude;
        mask-composite: exclude;
        
    }
    
}


