@import "tailwindcss/base";

@import "tailwindcss/components";


@tailwind utilities;

@layer utilities {
    @keyframes onAutoFillStart {
        from {}
        to {}
    }

    @keyframes onAutoFillEndStart {
        from {}
        to {}
    }
      
    
    .grid-lines-green-gradient{
        background: url("/public/axiom-pattern-thick.png"), linear-gradient(to bottom, #76B900, #2C2A34);
    }
    .green-gradient-y{
        background: linear-gradient(to bottom, #2C2A34 70%, #76B900);
        background-size: 100% 120%;
        background-position-y: top;
    }
    .green-gradient-x{
        background: url("/public/greenBall.png"), linear-gradient(to right, #2C2A34, #76B900);
    }
    .grid-lines{
        background: url("/public/axiom-pattern-thick.png");
    }
    .grid-lines-dark-gradient{
        background: url("/public/axiom-pattern.png"), linear-gradient(to right, #2C2A34, #43414a);
    }
    .grid-blocks-dark-gradient{
        background: url("/public/grid-me.png"), linear-gradient(to right, #2C2A34, #43414a);
    }
    .grid-blocks{
        background: url("/public/grid-me.png");
    }
    .grid-blocks-custom{
        background: url("/public/grid-me-custom.png"), linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    }
    .black-linen-gradient{
        background: url("/public/black-linen.png"), linear-gradient(to right, #2C2A34, #43414a);
    }
    .black-linen{
        background: url("/public/black-linen.png");
    }
    .black-diamond-gradient{
        background: url("/public/diagmonds.png"), linear-gradient(to right, #2C2A34, #43414a);
    }
    .mask{
        -webkit-mask-repeat: no-repeat, no-repeat, no-repeat;
        mask-repeat: no-repeat, no-repeat, no-repeat;
        -webkit-mask-composite: exclude;
        mask-composite: exclude;
        
    }
    .bg-big-multi-gradient{
        background: linear-gradient(to right, #2C2A34 10%, #76B900 40%, #1F1B24 40.1%, #1F1B24 85%, #2c2a2f 99.9%);
        background-size: 400% 100%;
    }
    .loading-spinner circle {
        opacity: 1;
    }
    .loading-spinner g {
        opacity: 0;
    }
    .loading-spinner.error circle {
        opacity: 0;
    }
    .loading-spinner.error g{
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
    .loading-spinner.error g circle{
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
    /* Scrollbar width */
    ::-webkit-scrollbar {
        width: 7px;
    }
  
    /* Scrollbar track */
    ::-webkit-scrollbar-track {
        background: #a3ca5f; /* Light grey background */
        border-radius: 10px;
    }
  
    /* Scrollbar handle */
    ::-webkit-scrollbar-thumb {
        background: #76B900; /* Dark grey */
        border-radius: 10px;
    }
  
    /* Scrollbar handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
      
    /* Apply only to elements with .custom-scrollbar */
    .custom-scrollbar::-webkit-scrollbar {
        width: 5px;
    }
      
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #FFFFFF;
        border-radius: 10px;
    }
    input:-webkit-autofill {
        box-shadow: 0 0 0px 1000px transparent inset ; 
        -webkit-text-fill-color: #F2F2F2 ; 
        background-color: transparent ;
        transition: background-color 5000s ease-in-out 0s ;
        animation-name: onAutoFillStart;
        animation-duration: 0.001s;
        animation-iteration-count: 1;
    }
    input {
        animation-name: onAutoFillEndStart;
        animation-duration: 0.001s;
        animation-iteration-count: 1;
    }
    
  
    
}


